{% extends 'base.html'  %}

{% load bootstrap %}

	{% block content %}
<div class="content container">
	<h2>Filtrar Posts</h2>

	
		<form>
			{{ filter.form|bootstrap }}
			<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
		<hr>
</div>
<div class="post">
	<ul>
		{% for novedad in filter.qs %}
		<li>
			{{novedad.author}}
			<p>{{novedad.published_date}}</p>
			<h1><a href="{% url 'novedades:post_detalle' novedad.id %} ">{{ novedad.titulo }}</a></h1>
			<h5>{{novedad.categoria}}</h5>
			<img src="{{novedad.imagen.url}}" alt="{{image.name}}" style="width:500px;">
			<p>{{novedad.texto|linebreaksbr}}</p>
			<a href="{% url 'novedades:post_detalle' pk=novedad.pk %}">Comentarios: {{ novedad.comentarios.count }}</a>
			<hr>
		</li>
		{% endfor %}
	</ul>
</div>
	{% endblock content %}			
