{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Blog de Noticias</title>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
 <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	    <ul class="nav navbar-nav">
	      <li class="active">
	        <a class="navbar-brand" href="{% url 'home' %}">Home
	        </a>
	      </li>
	      <li class="active">
	        <a class="navbar-brand" href="{% url 'novedades:listar' %}">Ver posts</a>
	      </li>
	      <li class="active">
	        <a class="navbar-brand"href="{% url 'novedades:cargar_n'%}">Crear post</a>
	      </li>
	      <li class="active">
	        <a class="navbar-brand"href="{% url 'novedades:filtro' %}">Filtrar posts</a>
	      </li>
	      {% if user.is_staff %}
	      <li class="active">
	        <a class="navbar-brand"" href="{% url 'novedades:cargar_c'%}">Cargar nueva categoria</a>
	      </li>
	      <li class="active">
	        <a class="navbar-brand" href="{% url 'usuarios:listar_usuarios'%}">Listar Usuarios</a>
	      </li>
	      {% endif %}
	    </ul>
	    <form>
	      {% if user.is_authenticated %}
	       <button type="submit"  class="btn btn-primary " style="float: right">
	      	{{user.username}}
	      </button>
	      <a href="{% url 'logout' %}" class="btn btn-secondary active" role="button" aria-pressed="true" style="float: right">SALIR</a>
	      {% else %}
	      	<a href="{% url 'login' %}" class="btn btn-secondary active" role="button" aria-pressed="true" style="float: right">ACCEDER</a>
	      	<a href="{% url 'usuarios:registrar_usuario' %}" class="btn btn-secondary active" role="button" aria-pressed="true" style="float: right">REGISTRARSE</a>
	      {% endif %}
	    </form>
	</nav>
	<div class="page-header">
    	<h1><a href="/">Blog de Noticias</a></h1>
	</div>		
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
			
	{% block content %}

	{% endblock content %}
                </div>
            </div>
        </div>

	<footer><h2>BLOG DE NOTICIAS</h2></footer>
</body>
</html>